* {
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  font-size: 17px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  line-height: 1;
  padding: 5px;
  background-color: #eee;
  color: steelblue;
}

ul li > ul {
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 5px;
}

ul li img {
  width: 17px;
}

ul li span {
  padding-left: 5px;
  float: right;
  cursor: pointer;
}

#artists > li {
  border-radius: 5px;
  margin-bottom: 5px;
}

#artists > li:last-child {
  margin-bottom: 0;
}

#artists .album-name {
  border-bottom: 1px solid #000;
  background-color: #aaa;
  color: #fff;
  cursor: grab;
}

#artists .album-name:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#artists .album-name:last-child {
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#submit {
  min-height: 50px;
  padding: 10px 25px;
  border: 5px solid #eee;
  border-radius: 5px;
  margin: 10px 0 0;
  background-color: #aaa;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

#submit:hover {
  background-color: #bbb;
  color: #000;
}
